<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- Define/load the properties file -->
    <context:property-placeholder location="sportCoach.properties"/>
    <!-- Define your beans here -->
    <bean id="fortune" class="leydis.spring.ioc.RandomFortuneService">

    </bean>

    <!-- Scope singleton by default -->
    <bean id="myCoach" class="leydis.spring.ioc.TrackCoach">
        <constructor-arg ref="fortune"/>
    </bean>

    <!-- Scope prototype (with this scope the destroy method don't work) -->
    <bean id="myCricketCoach" class="leydis.spring.ioc.CricketCoach" scope="prototype">
        <property name="fortuneService" ref="fortune"/>
        <!-- Giving the value directly -->
        <property name="email" value="lgarzon@hotmail.com"/>
        <!-- Obtaining the value from a properties file -->
        <property name="team" value="${cricket.team}"/>
    </bean>
</beans>






